.section {
  display: flex;
  flex-direction: column;
}

.secondary-heading {
  width: fit-content;
  margin: auto;
}

.section__text {
  font-size: 1.6rem;
  width: fit-content;
  margin: auto;
  padding-bottom: 5rem;
  color: #ddd;
  text-align: center;
}

.img-bg {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  flex-shrink: 0;
  background-color: var(--lightPurple);
  background-image: url("../../public//imgs/palms.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.white-bg {
  background-color: var(--veryLightOrange);
  min-height: 30dvh;
  flex-grow: 0;
}

.iframe {
  margin: auto;
  width: 50%;
  aspect-ratio: 16 / 9;
  border: 5px solid #ddd;

  transform: scale(1.2) translateY(10%);
}

@media only screen and (max-width: 52em) {
  .iframe {
    width: 70%;
    aspect-ratio: 16 / 9;
  }
  .secondary-heading {
    width: fit-content;
    margin: auto;
    font-size: x-large;
  }
  .section__text {
    font-size: 1.2rem;
  }
}
